div.carousel-container{
    position: relative;
    width: 100%;
}
div.carousel-items {
    display: flex;
    gap: 20px;
    width: 100%;
    overflow-x: scroll; /* allows horizontal scroll */
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth; /* enables smooth scroll animation */
    -webkit-overflow-scrolling: touch; /* smoother on iOS */
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 5px;
    aspect-ratio: 16 / 9;
    scrollbar-width: none;
    position: relative;
}
div.carousel-items::-webkit-scrollbar {
    display: none;
}
div.card {
    scroll-snap-align: center;
    flex: 0 0 auto;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}
div.card img {
    height: 100%;
    cursor: pointer;
    width: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
    /*display: block;*/
}
div.card:hover {
    transform: scale(1.02);
}
button.nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    border: none;
    color: white;
    font-size: 24px;
    padding: 14px 15px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
    transition: background 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(3px);
}
button.nav i{
    font-size: 20px;
}
button.nav:hover {
    background: rgba(0,0,0,0.8);
}
button.nav.left {
    left: 10px;
}
button.nav.right {
    right: 10px;
}
div.indicators {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-top: 10px;
    padding: 10px 20px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 24px;
    backdrop-filter: blur(5px);
}
div.indicators span {
    width: clamp(10px, 2vw, 15px);
    height: clamp(10px, 2vw, 15px);
    border-radius: 50%;
    background: #ffffff50;
    transition: background 0.3s;
}
div.indicators span.active {
    background: var(--light);
}