main{
    transition: all 0.3s ease;
}
main.disabled {
    opacity: 0.6;
    pointer-events: none;   /* disables clicks, hovers, etc */
    user-select: none;      /* disables text selection */
    overflow: hidden;       /* prevents scrolling */
    filter: grayscale(100%) brightness(50%);
}
div.popup {
    display: none;
    flex-direction: column;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85vw;
    height: 85vw;
    max-width: 700px;
    max-height: 500px;
    background-color: var(--light);
    z-index: 1000;
    border-radius: 5px;
    border: 1px dashed var(--dark);
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 10px #22222290;
}
div.popup i.bi-x{
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    color: var(--dark);
    font-size: 24px;
}
div.popup p.popup-title{
    font-size: clamp(18px, 2vw, 30px);
    font-family: "Fajilla One", sans-serif;
    font-weight: bold;
    color: var(--dark);
    width: calc(100% - 40px);
    text-align: center;
}
div.popup p.popup-date{
    font-size: 14px;
    font-weight: bold;
    font-family: "Fajilla One", sans-serif;
    color: dimgray;
    text-align: center;
    padding: 5px 10px;
    margin-top: 10px;
    background-color: #22222230;
    border-radius: 5px;
}
div.popup div.popup-content{
    width: 100%;
    height: 100%;
    background-color: #22222210;
    border-radius: 5px;
    margin-top:20px;
    padding: 20px;
    overflow: auto;
}
div.popup div.popup-content p{
    font-size: 16px;
    font-family: "Ubuntu", sans-serif;
    text-align: justify;
}
div.popup a.link-btn{
    text-decoration: none;
    color: var(--light);
    font-weight: bold;
    font-family: "Fajilla One", sans-serif;
    background-color: var(--dark);
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    margin-top: 15px;
    text-align: center;
}

@media (max-width: 600px) {
    div.popup {
        width: calc(100% - 20px);
        padding: 10px;
    }
}