div.section-1{
    margin-top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px dashed var(--dark);
    padding: 14vw 4vw 14vw 4vw;
    position: relative;
    border-radius: 5px;
}
div.section-1::before, div.section-3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("https://images.unsplash.com/photo-1578926375605-eaf7559b1458?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8YXJ0JTIwd2FsbHBhcGVyfGVufDB8fDB8fHww&fm=jpg&q=60&w=3000") no-repeat center center fixed;
    background-size: cover;
    filter: grayscale(100%);
    opacity: 0.3;
    z-index: 0;
}
div.section-1 > *, div.section-3 > * {
    position: relative;
    z-index: 1;
}
div.section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    border: 1px dashed var(--dark);
    position: relative;
    border-radius: 5px;
}
div.section-3{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px dashed var(--dark);
    padding: 4vw;
    position: relative;
    border-radius: 5px;
}
div.section-4 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px dashed var(--dark);
    padding: 4vw;
    position: relative;
    border-radius: 5px;
}


div.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85vw;
    max-width: 800px;
    height: 100%;
    padding: 10px;
}
p.intro-title{
    font-family: "Bungee", sans-serif;
    font-weight: bold;
    font-size: clamp(50px, 8vw, 80px);
    color: var(--dark);
    margin-bottom: 10px;
}
p.intro-role{
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: var(--dark);
    margin-bottom: 40px;
    border-bottom: 1px solid var(--dark);
    padding-bottom: 2px;
}
p.intro-content{
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
    margin-bottom: 40px;
    text-align: justify;
}
div.intro-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    width: 85vw;
    max-width: 800px;
}
div.intro-buttons a{
    cursor: pointer;
    font-family: "Fjalla One", sans-serif;
    font-weight: bold;
    padding: 5px 10px;
    height: 40px;
    color: var(--dark);
    border-radius: 5px;
    border: 1px dashed var(--dark);
    background: #22222220;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 18px;
    transition: 0.2s all ease-in-out;
    backdrop-filter: blur(5px);
}
div.intro-buttons a:hover{
    background: var(--dark);
    color: var(--light);
}
i.bi-chevron-compact-down{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 35px;
    color: #222222aa;
    cursor: pointer;
    transition: opacity 0.3s ease;
}
i.bi-chevron-compact-down.hidden {
    opacity: 0;
    pointer-events: none;
}

div.card p {
    pointer-events: none;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(16px, 2vw, 30px);
    color: var(--light);
    font-family: 'Bungee', sans-serif;
    background: #22222220;
    backdrop-filter: blur(3px);
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px dashed var(--light);
    /*offset-x offset-y blur-radius spread-radius color;*/
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);

}

div.recent-blogs{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 1000px;
    justify-content: center;
    align-items: start;
}
hr{
    border: none;          /* remove default border */
    border-top: 1px solid #22222250;  /* set color and thickness */
    height: 0;             /* optional */
    width: calc(100% - 20px);
}
div.recent-blogs a{
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-left: 2px solid transparent;
    transition: 0.2s all ease-in-out;
}
div.recent-blogs a:hover{
   border-left: 2px solid var(--dark);
   background-color: #22222220;
   border-radius: 0 5px 5px 0;
}
div.recent-blogs a p:nth-child(1){
    color: var(--dark);
    font-family: "Fjalla One", sans-serif;
    font-size: clamp(16px, 4vw, 24px);
}
div.recent-blogs a p:nth-child(2){
    color: dimgray;
    filter: grayscale(30%);
    font-family: "Fjalla One", sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 5px;
}
div.recent-blogs a p:nth-child(3){
    color: var(--dark);
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
}


div.form{
    width: 100%;
    max-width: 1000px;
    padding: 10px;
}
div.form form{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;
    gap: 20px;
}
div.form input{
    width: 100%;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    padding: 5px 10px;
    height: 35px;
    color: var(--dark);
    border: 1px solid #22222230;
    background: #22222210;
    border-radius: 5px;
    outline: none;
    transition: all 0.2s ease;
}
div.form textarea{
    width: 100%;
    border-radius: 5px;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    padding: 5px 10px;
    height: 250px;
    color: var(--dark);
    border: 1px solid #22222230;
    background: #22222210;
    outline: none;
    transition: all 0.2s ease;
    resize: none;
}
div.form input:focus {
    box-shadow: 0 0 0 2px #22222250;
    border: 1px solid #22222290;
}
div.form textarea:focus{
    box-shadow: 0 0 0 2px #22222250;
    border: 1px solid #22222290;
}
div.form label{
    color: var(--dark);
    font-family: "Ubuntu", sans-serif;
}
div.form button{
    width: 100%;
    font-weight: bold;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    padding: 5px 5px;
    height: 45px;
    color: var(--light);
    border: none;
    background-color: var(--dark);
    border-radius: 5px;
    cursor: pointer;
}
div.form p{
    font-family: "Bungee", sans-serif;
    color: var(--dark);
    font-size: 30px;
}
div.form-names{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}
div.form-names input:first-child { width: 50%; }
div.form-names input:last-child { width: 50%; }


@media (max-width: 600px) {
    i.bi-chevron-compact-down {
        display: none;
    }
    div.section-3{
        padding: 10px;
    }
    div.section-4{
        padding: 10px;
    }
}