div.blog-post{
    width: 100%;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    border: 1px dashed var(--dark);
    padding: 4vw;
    margin-top: 50px;
    min-height: 800px;
}
div.blog-post-content{
    width: 70%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
div.blog-header{
    display: flex;
    flex-direction: column;
    color: var(--dark);
}
p.blog-title{
    font-weight: bold;
    font-size: clamp(35px, 4vw, 45px);
    font-family: "Fjalla One", sans-serif;
}
p.blog-description{
    font-size: 22px;
}
p.blog-date{
    color: dimgray;
    margin-top: 30px;
}
div.blog-keywords{
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 12px;
}
div.blog-keywords p{
    padding: 2px 8px;
    background-color: #22222220;
    font-size: 14px;
}
div.blog-keywords p:first-child{
    font-family: "Fjalla One", sans-serif;
}
h1, h2, h3, h4, h5, h6{
    margin: 20px 0 5px 0;
    font-family: "Fjalla One", sans-serif;
}
h1{font-size: clamp(30px, 4vw, 40px);}
h2{font-size: clamp(28px, 4vw, 38px);}
h3{font-size: clamp(25px, 4vw, 35px);}
h4{font-size: clamp(22px, 4vw, 32px);}
h5{font-size: clamp(20px, 4vw, 30px);}
h6{font-size: clamp(18px, 4vw, 18px);}
p{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    line-height: 1.3;
}
div.blog-post-content a{
    text-decoration: none;
    color: dodgerblue;
    position: relative;
    padding: 2px 10px -2px 10px;
}
div.blog-post-content a:after{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    background-color: dodgerblue;
    transform-origin: left;
    transition: width 0.3s ease;
    opacity: 0.2;
}
div.blog-post-content a:hover::after {
    width: 100%;
}
blockquote{
    margin: 20px 20px 20px 0;
    padding: 2px 2px 2px 12px;
    border-left: 2px solid var(--dark);
    font-family: 'Ubuntu', sans-serif;
    color: dimgray;
    font-style: italic;
}
ol{
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    padding: 0;
    list-style-position: inside;
}
ul{
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    margin: 10px;
    padding: 0;
    list-style-position: inside;
}
li{
    margin-bottom: 5px;
    padding: 0;
    list-style-position: inside;
}
img{
    width: 100%;
    border-radius: 5px;
}
iframe{
    width: 100%;
    aspect-ratio: 16 / 9;
    filter: grayscale(100%);
    border-radius: 5px;
}
table {
    width: 100%;
    max-width: 1000px;
    border-collapse: collapse;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    color: var(--dark);
    overflow: scroll;
    border-radius: 5px;
}
th, td {
    padding: 12px 15px;
    border: 1px solid dimgray;
    text-align: left;
    white-space: nowrap;         /* keep text on one line */
    max-width: 150px;            /* set a limit for width */
    overflow-x: auto;            /* enable horizontal scroll */
    overflow-y: hidden;          /* disable vertical scroll */
}
th {
    position: sticky;
    top: 0;
    z-index: 2;               /* keep header above table body */
    background-color: #222222;
    color: var(--light);
    font-weight: bold;
}
tr:nth-child(even) {
    background-color: #22222220;
}
code{
    padding: 0 5px;
    background-color: #22222220;
    border-radius: 4px;
    font-family: "Courier New", monospace;
}
pre{
    margin-top: 10px;
    background-color: #22222210;
    overflow: scroll;
    max-height: 600px;
    padding: 10px;
    border-radius: 5px;
}
pre code{
    background-color: #22222200;
    padding: 0 0
}
div.form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px dashed var(--dark);
    padding: 4vw;
    position: relative;
    border-radius: 5px;
}
form{
    display: flex;
    max-width: 800px;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;
    gap: 20px;
}
form input{
    width: 100%;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    padding: 5px 10px;
    height: 35px;
    color: var(--dark);
    border: 1px solid #22222230;
    background: #22222210;
    border-radius: 5px;
    outline: none;
    transition: all 0.2s ease;
}
form textarea{
    width: 100%;
    border-radius: 5px;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    padding: 5px 10px;
    height: 250px;
    color: var(--dark);
    border: 1px solid #22222230;
    background: #22222210;
    outline: none;
    transition: all 0.2s ease;
    resize: none;
}
form input:focus {
    box-shadow: 0 0 0 2px #22222250;
    border: 1px solid #22222290;
}
form textarea:focus{
    box-shadow: 0 0 0 2px #22222250;
    border: 1px solid #22222290;
}
form label{
    color: var(--dark);
    font-family: "Ubuntu", sans-serif;
}
form button{
    width: 100%;
    font-weight: bold;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    padding: 5px 5px;
    height: 45px;
    color: var(--light);
    border: none;
    background-color: var(--dark);
    border-radius: 5px;
    cursor: pointer;
}
form p{
    font-family: "Bungee", sans-serif;
    color: var(--dark);
    font-size: 30px;
}
div.form-names{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}
div.form-names input:first-child { width: 50%; }
div.form-names input:last-child { width: 50%; }

@media (max-width: 600px){
    div.blog-post-content{
        width: 100%;
    }
}